version: '2'
services:
  db:
    image: postgres
    ports:
      - '5433:5432'

  scheduler:
    depends_on:
      - db
      - queue
    image: node:9-alpine
    user: node
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
    command: npm run scheduler
    environment:
      DATABASE_URL: postgres://postgres:pwd@db:5432/postgres
      RABBITMQ_URL: amqp://queue

  node:
    depends_on:
      - db
    image: node:9-alpine
    user: node
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
    environment:
      DATABASE_URL: postgres://postgres:pwd@db:5432/postgres
      NODE_ENV: development

  queue:
    image: rabbitmq:3

  consumer:
    depends_on:
      - queue
    image: node:9-alpine
    user: node
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
    command: npm run consumer
    environment:
      RABBITMQ_URL: amqp://queue

  server:
    depends_on:
      - db
    ports:
      - '8080:8080'
    image: node:9-alpine
    user: node
    working_dir: /home/node/app
    command: npm run dev
    volumes:
      - ./:/home/node/app
    environment:
      DATABASE_URL: postgres://postgres:pwd@db:5432/postgres
      NODE_ENV: development
      PORT: 8080

