<h1>Show Subscriber</h1>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @subscriber.email %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.digest_subscriber_path(@conn, :edit, @digest.id, @subscriber) %></span>
<span><%= link "Back", to: Routes.digest_subscriber_path(@conn, :index, @digest.id) %></span>
